.pageContainer{
    padding: 3%;
    border: 1px solid whitesmoke;
}

.emptyContainer {
  display: flex;
  justify-content: center;
}

.basketContainer {
    display: flex;
    flex-direction: column;
}

.basketFooter{
  display: flex;
  justify-content: space-between;
}

.basketProgress{
  // padding-top: 3%;
  padding-bottom: 3%;
}

.countContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countIconPlus{
  border: 1px solid #cbefcf;
  padding: 5%;
}

.countIconMinus{
    border: 1px solid #efcbcb;
    padding: 5%;
  }

.count{
  margin: 0;
}

.checkoutButton{
  :global {
      .ant-btn-ghost {
          background-color: blanchedalmond;
        }
  }
}

