{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["import", { 
      "libraryName": "antd", 
      "libraryDirectory": "lib",
      "style": true 
    }],
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "pages": "./src/pages",
        "services": "./src/services",
        "store": "./src/store",
        "src": "./src"
      }
    }],
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
