.pageContainer{
    padding: 3%;
    border: 1px solid whitesmoke;
}

.orderContainer {
    display: flex;
    justify-content: center;
}

.emptyContainer {
    display: flex;
    justify-content: center;
}
