.pageContainer{
    padding: 3%;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
}

.orderContainer{

}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: stretch;
}

.allFieldsContainer{
    border: 1px dotted #d9d9d9;
    padding-bottom: 3%;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}


.inputFormContainer{
    width: 380px;
}


.errorText {
    color: red;
}


.buttonContainer{
    padding-top: 10%;
    padding-bottom: 10%;
}

.emptyContainer {
    display: flex;
    justify-content: center;
}

.goToProducts {
    flex-grow: 1;
}
