.navBar {
    height: 64px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    border: whitesmoke solid 1px;
  
    a {
      color: #707070;
      text-align: left;
      padding: 20px 20px 20px 30px;
      font-size: 22px;
      cursor: pointer;
      &:first-child{
        flex-grow: 1;
      }
    }
    
  
    a.active {
      color: black;
    }
  
    a:hover {
      color: #b2b0b0;
    }

  }