body {
  font-family: "Roboto", "Regular";
  margin: 0;
}

a {
  text-decoration: none;
}

:global {
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: whitesmoke;
  }
  
  .ant-btn > i, .ant-btn > span {
    pointer-events: inherit;
  }
}

input[type='text'], input[type='password'], input[type='email'], input[type='number'], textarea {
  -webkit-appearance: button;
}